body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  font-size: 16px;
  line-height: 1.2;
  @extend %montserrat-400;
  color: var(--text-color);
  background-color: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.lock {
  overflow: hidden;
}

.bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inactive {
  opacity: .6;
}

.today {
  color: #fff;
  position: relative;

  &::before {
    content: "";
    background: #333;
    position: absolute;
    height: 25px;
    width: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
    z-index: -1;
  }
}