html.dark {
  --text-color: #fff;
  --menu-color: #fff;
  --akcent-bg-color: rgba(86, 101, 115, 0.65);
  --akcent-color: #181D26;
  --symbol-color: #2C3540;
}

html.classical {
  --text-color: #000000;
  --menu-color: #fff;
  --akcent-bg-color: rgba(255, 255, 255, 0.65);
  --akcent-color: #563831;
  --symbol-color: #A28B85;
}

$breakpoints: (
  "phone": 560px,
  "tablet": 768px,
  "tablet-2": 992px,
  "desktop": 1230px
);

%border {
  border: 2px solid var(--menu-color);
  border-radius: 6px;
}

%montserrat-400 {
  font-family: 'Montserrat';
  font-weight: 400;
}

%montserrat-500 {
  font-family: 'Montserrat';
  font-weight: 500;
}

%montserrat-700 {
  font-family: 'Montserrat';
  font-weight: 700;
}

%Montaga-400 {
  font-family: 'Montaga';
  font-weight: 400;
}